// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.item-interactive {
  border-bottom-color: lightgrey !important;
  box-shadow: none !important;
}

.button-col {
  text-align: center;
  margin-top: 20px;
}

.text-xl {
  font-size: x-large !important;
}

.text-l {
  font-size: large !important;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.pr-35 {
  padding-right: 35px;
}

.alert-radio-label.sc-ion-alert-md {
  white-space: normal !important;
}

