<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Carrera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none" *ngIf="career">
      <ion-item-divider color="light" padding-vertical>
        <ion-label text-center class="w-100 text-xl">
          Ingeniería en Informática
        </ion-label>
      </ion-item-divider>

      <ion-item >
        <ion-label text-right padding-end class="bold text-l">
          Promedio: 
        </ion-label>
        <ion-label text-left padding-start class="text-l">
          {{career.getAverage() | number: '1.2-2'}}
        </ion-label>
      </ion-item>
      
      <ion-item >
        <ion-label text-right padding-end class="bold text-l">
          Créditos: 
        </ion-label>
        <ion-label text-left padding-start class="text-l">
          {{career.totalRequiredCredits()}} / {{career.required_credits}}
        </ion-label>
      </ion-item>

      <ion-item >
        <ion-label text-right padding-end class="bold text-l">
          Electivas: 
        </ion-label>
        <ion-label text-left padding-start class="text-l">
          {{career.totalOptionalCredits()}} / {{career.optional_credits}}
        </ion-label>
      </ion-item>

      <ion-item >
        <ion-label text-right padding-end class="bold text-l pr-35">
          Orientación: 
        </ion-label>
        <ion-select [(ngModel)]="selectedOrientation" okText="Seleccionar" cancelText="Cancelar" class="orientations" mode="ios" (ionChange)="orientationChanged()">
          <ion-select-option *ngFor="let orientation of career.orientations">{{orientation}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
</ion-content>
